#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    min-height: 500px;
    overflow: hidden; /*nem lóg ki a div-ből*/
}

#header {
    width: 100%;
    height: 150px;
    text-align: center;
}

#header h1 {
    color: white;
    margin-top: 50px;
    display: inline-block;
    text-transform: uppercase;
}

#main{
    width: 100%;
}

.oszlop2{
    float: left;
    width: 496px;
    background-color: lightgreen;
    margin: 2px;
}

.oszlop2 img {
    margin: 10px;
    width: 476px;
}

.oszlop2 p {
    margin: 10px;
    padding: 5px;
    background-color: white;
    text-align: justify;
}

.clear {
    clear: both;
}

.oszlop4 {
    float: left;
    margin: 5px;
    width: calc(25% - 10px);
}

.oszlop4 img {
    width: 100%;
}

.oszlop4 p{
    margin: 5px;
    padding: 5px;
    background-color: honeydew;
    text-align: justify;
}

#footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid white;
}

#footer p {
    color: white;
    font-style: italic;
}